name: Build Win7 x86

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  IS_STABLE: ${{ !contains(github.ref, '-') }}

jobs:
  build:
    runs-on: windows-2022

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.0'
          cache-dependency-path: |
            core/go.sum

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Get Flutter Dependencies
        run: flutter pub get

      - name: Setup Build Env
        run: dart setup.dart windows --arch x86 --env stable

      - name: Build for Windows 7 32-bit
        run: flutter build windows --target-platform=windows-x86

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ./build/windows/runner/Release
          overwrite: true
